
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/libraries-with-intellij-classes.xml
.idea/misc.xml
.idea/modules/api.iml
.idea/modules/bukkit.iml
.idea/uiDesigner.xml
.idea/vcs.xml
.gradle/6.8/executionHistory/executionHistory.bin
.gradle/6.8/executionHistory/executionHistory.lock
.gradle/6.8/fileChanges/last-build.bin
.gradle/6.8/fileHashes/fileHashes.bin
.gradle/6.8/fileHashes/fileHashes.lock
.gradle/6.8/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.gradle/configuration-cache/gc.properties
.gradle/vcs-1/gc.properties
.gradle/6.8/javaCompile/taskHistory.bin
.gradle/6.8/javaCompile/javaCompile.lock
.gradle/6.8/javaCompile/jarAnalysis.bin
.gradle/6.8/javaCompile/classAnalysis.bin
.gradle/6.8/fileHashes/resourceHashesCache.bin
.idea/modules/api/message.api.test.iml
.idea/modules/bukkit-adventure/message.bukkit-adventure.test.iml
.idea/modules/bukkit/message.bukkit.test.iml
.idea/modules/api/message.api.test.iml
.idea/modules/bukkit-adventure/message.bukkit-adventure.test.iml
.idea/modules/bukkit/message.bukkit.test.iml
.idea/modules/bukkit/message.bukkit.test.iml
.idea/modules/bukkit-adventure/message.bukkit-adventure.test.iml
.idea/modules/api/message.api.test.iml
.idea/modules/bungee/message.bungee.test.iml
.idea/modules/bungee.iml
.idea/modules/bungee-adventure.iml
.gradle/7.0/gc.properties
.gradle/7.0/fileHashes/fileHashes.lock
.gradle/7.0/fileChanges/last-build.bin
.gradle/7.0/dependencies-accessors/gc.properties
.gradle/7.0/dependencies-accessors/dependencies-accessors.lock
.gradle/checksums/sha512-checksums.bin
.gradle/checksums/sha256-checksums.bin
.gradle/7.0/javaCompile/taskHistory.bin
.gradle/7.0/javaCompile/javaCompile.lock
.gradle/7.0/javaCompile/jarAnalysis.bin
.gradle/7.0/javaCompile/classAnalysis.bin
.gradle/7.0/fileHashes/resourceHashesCache.bin
.gradle/7.0/fileHashes/fileHashes.bin
.gradle/7.0/executionHistory/executionHistory.lock
.gradle/7.0/executionHistory/executionHistory.bin
.idea/workspace.xml
.idea/modules/example/message.example.test.iml
